@media only screen and (max-width: 1550px) {

	/*-- Tab 1 Object Page --*/

	.tabs-links {
	    margin: 0 -15px;
	}

	.tab-link_wrapp {
	    padding: 8px 15px;
	}

	/*-- /Tab 1 Object Page --*/

}

@media only screen and (max-width: 1440px) {

	/*-- Tab 1 Object Page --*/

	.two-cols-templ.row {
		margin: 0;
	}

	.tabs-links {
	    margin: 0 -12px;
	}

	.tab-link_wrapp {
	    padding: 8px 12px;
	}

	.tab-link {
	    font-size: 28px;
	    line-height: 32px;
	}

	/*-- /Tab 1 Object Page --*/

}

@media only screen and (max-width: 1340px) {

	/*-- Banks Page --*/

	.thumbnails_3 .thumb_3 {
	    width: 25%;
	}

	/*-- /Banks Page --*/

}

@media only screen and (max-width: 1280px) {

	/*-- Tab 1 Object Page --*/

	.two-cols-templ.row {
		margin: 0;
	}

	.two-cols-templ > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols-templ > .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.tab-link {
	    font-size: 28px;
	    line-height: 35px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.two-cols-templ .two-col-1 {
	    width: calc(100% - 266px);
	}

	.two-cols-templ .two-col-2 {
	    width: 266px;
	}

	/*-- /Banks Page --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Banks Page --*/

	.thumb_2 {
	    width: calc(50% - 18px);
	}

	.two-cols-templ .two-col-1 {
	    width: 100%;
	    float: none;
	}

	.two-cols-templ .two-col-2 {
	    width: 100%;
	    float: none;
	}

	/*-- /Banks Page --*/

}

@media only screen and (max-width: 900px) {

	/*-- Tab 1 Object Page --*/

	.tab-link {
		font-size: 23px;
		line-height: 29px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.thumbnails_3 .thumb_3 {
	    width: 33.33%;
	}

	/*-- /Banks Page --*/

}

@media only screen and (max-width: 768px) {

	/*-- Tab 1 Object Page --*/

	.slider-1_wrapp {
	    margin: 10px 0;
	    padding: 10px;
	}

	.slider-1 .img-box {
	    height: 500px;
	}

	.tab-link {
	    font-size: 22px;
	    line-height: 23px;
	}

	.table .table-cell:nth-child(1) {
	    width: 44%;
	}

	.table .table-cell:nth-child(2) {
	    width: 56%;
	}

	.prices_table .table-cell-1 {
	    width: 30%;
	}

	.prices_table .table-cell-2 {
	    width: 30%;
	}

	.prices_table .table-cell-3 {
	    width: 40%;
	}

	.prices_table .table-cell-4 {
	    display: none;
	}

	.plan_slider .img-box {
	    height: 300px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.form_wrapp h3 {
		text-align: center;
	    font-size: 22px;
	}

	.form_wrapp {
	    padding: 27px 20px;
	}

	.tree-cols .col {
	    width: 100%;
	}

	.thumb_2 {
	    padding: 2px 0 16px 0;
	}

	.mortgages-header .cell-1 {
	    width: 38%;
	}

	.mortgages-header .cell-2 {
	    width: 19%;
	}

	.mortgages-header .cell-3 {
	    width: 19%;
	}

	.mortgages-header .cell-4 {
	    width: 24%;
	}

	.mortgages-header .cell-5 {
	    display: none;
	}

	.bank-header .cell-1 {
	    width: 38%;
	}

	.bank-header .cell-2 {
	    width: 19%;
	}

	.bank-header .cell-3 {
	    width: 19%;
	}

	.bank-header .cell-4 {
	    width: 24%;
	}

	.bank-header .cell-5 {
	    display: none;
	}

	.bank-inner-table .cell-1 {
	    width: 33.33%;
	}

	.bank-inner-table .cell-2 {
	    width: 33.33%;
	}

	.bank-inner-table .cell-3 {
	    width: 33.33%;
	}

	.bank-inner-table .cell-4 {
		display: none;
	}

	.bank-inner-table p {
	    font-size: 14px;
	    line-height: 14px;
	}

	.sliding-bl_inner {
	    padding-right: 0;
	}

	.mortgages-header {
	    padding: 24px 40px 30px 0;
	}

	.bank-header {
	    padding: 0 40px 0 0;
	}

	.two-cols-inner .col {
	    width: 100%;
	}

	.two-cols-inner .col .btn-secondary {
		width: 100%;
		white-space: normal;
	}

	/*-- /Banks Page --*/

}

@media only screen and (max-width: 700px) {

	/*-- Banks Page --*/

	.thumbnails_3 .thumb_3 {
	    width: 50%;
	}

	/*-- /Banks Page --*/

}

@media only screen and (max-width: 480px) {

	/*-- Tab 1 Object Page --*/

	.slider-1 .img-box {
	    height: 400px;
	}

	.tabs-content {
	    margin: 0;
	}

	.table-cell h3 {
	    font-size: 15px;
	    line-height: 18px;
	}

	.table-cell p {
	    font-size: 15px;
	    line-height: 18px;
	}

	.table-cell a {
	    font-size: 15px;
	    line-height: 18px;
	}

	.two-cols_2 p {
	    font-size: 16px;
	    line-height: 21px;
	}

	.two-cols_2 > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols_2 > .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.dropdown_title p {
	    font-size: 18px;
	    line-height: 23px;
	}

	.plan_slider .img-box {
	    height: 235px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.thumbnails_2 {
	    margin: 14px 0;
	}

	.thumb_2 {
	    width: 100%;
	    margin: 9px 0;
	    padding: 2px 0 4px 0;
	}

	.thumb_2 .img-box {
	    height: 99px;
	}

	.mortgages-header .cell-1 {
	    width: 50%;
	}

	.mortgages-header .cell-2 {
	    width: 25%;
	}

	.mortgages-header .cell-3 {
	    width: 25%;
	}

	.mortgages-header .cell-4 {
	    display: none;
	}

	.bank-header .cell-1 {
	    width: 50%;
	}

	.bank-header .cell-2 {
	    width: 25%;
	}

	.bank-header .cell-3 {
	    width: 25%;
	}

	.bank-header .cell-4 {
	    display: none;
	}

	.thumbnails_3 {
	    margin: 8px 0 0 0;
	}

	.thumbnails_3 .thumb_3 {
	    width: 100%;
	}

	.bank-inner-table .cell-1 {
	    width: 60%;
	}

	.bank-inner-table .cell-2 {
	    width: 40%;
	}

	.bank-inner-table .cell-3 {
		display: none;
	}

	.mortgage-block .sliding-block {
	    padding: 3px 8px 8px 8px;
	}

	/*-- /Banks Page --*/
	
}

@media only screen and (max-width: 370px) {

	/*-- Tab 1 Object Page --*/

	.table-cell p {
	    font-size: 12px;
	    line-height: 15px;
	    font-weight: 600;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.mortgages-header .cell-1 {
	    width: 70%;
	}

	.mortgages-header .cell-2 {
	    width: 30%;
	}

	.mortgages-header .cell-3 {
	    display: none;
	}

	.bank-header .cell-1 {
	    width: 70%;
	}

	.bank-header .cell-2 {
	    width: 30%;
	}

	.bank-header .cell-3 {
	    display: none;
	}

	/*-- /Banks Page --*/
	
}

@media only screen and (max-width: 320px) {

	

}