@media only screen and (max-width: 1550px) {

	/*-- Tab 1 Object Page --*/

	.tabs-links {
	    margin: 0 -15px;
	}

	.tab-link_wrapp {
	    padding: 8px 15px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Section 1 - Card 2 --*/

	.tabs_2 .tabs-links-inner {
	    margin: 0;
	}

	.tabs_2 .tab-link_wrapp {
	    padding: 0 15px;
	}

	/*-- /Section 1 - Card 2 --*/

}

@media only screen and (max-width: 1440px) {

	/*-- Tab 1 Object Page --*/

	.two-cols-templ_1_1.row {
		margin: 0;
	}

	.tabs-links {
	    margin: 0 -12px;
	}

	.tab-link_wrapp {
	    padding: 8px 12px;
	}

	.tab-link {
	    font-size: 28px;
	    line-height: 32px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Standarts --*/

	.contacts_2 {
	    width: 33.33%;
	}

	/*-- /Standarts --*/

	/*-- Section 1 - Card 2 --*/

	.two-cols-templ_1_2 > .left,
	.two-cols-templ_1_2 > .right {
		width: 100%;
		float: none;
		padding: 10px 0;
	}

	.two-cols-templ_1_2 .right-sidebar {
	    max-width: 900px;
	    margin: 0 auto;
	}

	.chars_6_wrapp {
	    max-width: 900px;
	    margin: 40px 0 0 0;
	}

	/*-- /Section 1 - Card 2 --*/

	.photogallery-slider .owl-next {
	    margin-right: 0 !important;
	}

	.photogallery-slider .owl-prev {
	    margin-left: 0 !important;
	}

}

@media only screen and (max-width: 1340px) {

	/*-- Banks Page --*/

	.thumbnails_3 .thumb_3 {
	    width: 25%;
	}

	/*-- /Banks Page --*/

	/*-- Terms --*/

	.two-cols-templ_2 .left {
	    width: calc(100% - 470px);
	}

	.two-cols-templ_2 .right {
	    width: 470px;
	}

	.two-cols-templ_3 .left {
	    width: 100%;
	    float: none;
	    padding: 10px 10px;
	}

	.two-cols-templ_3 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols-templ_4 .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols-templ_4 .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	/*-- /Terms --*/

	/*-- Certificate --*/

	.two-cols-templ_5 .left {
	    width: 100%;
	    float: none;
	    padding: 20px 0;
	}

	.two-cols-templ_5 .right {
	    width: 100%;
	    float: none;
	    padding: 20px 0;
	}

	/*-- /Certificate --*/

}

@media only screen and (max-width: 1270px) {

	/*-- Tab 1 Object Page --*/

	.two-cols-templ_1_1.row {
		margin: 0;
	}

	.two-cols-templ_1_1 > .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols-templ_1_1 > .right {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.tab-link {
	    font-size: 28px;
	    line-height: 35px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.two-cols-templ_1 .two-col-1 {
	    width: calc(100% - 266px);
	}

	.two-cols-templ_1 .two-col-2 {
	    width: 266px;
	}

	/*-- /Banks Page --*/

	/*-- Standarts --*/

	.contacts_2 {
	    width: 50%;
	}

	/*-- /Standarts --*/

	.photogallery-slider .owl-next {
	    right: 0 !important;
	}

	.photogallery-slider .owl-prev {
	    left: 0 !important;
	}

	/*-- Apartment Purchase --*/

	.scheme-box.scheme-box_title {
	   	padding-left: 12px;
	    padding-right: 12px;
	}

	.schemes-inner_title {
	    padding-left: 12px;
	    padding-right: 12px;
	}

	.scheme-box.scheme-box_title_2 {
	    padding-left: 12px;
	    padding-right: 12px;
	}

	.scheme-box {
	    padding-left: 12px;
	    padding-right: 12px;
	}

	.scheme ul li {
	    font-size: 14px;
	}

	.scheme_templ h6 {
	    font-size: 14px;
	}

	/*-- /Apartment Purchase --*/

	/*-- Refinancing Military Mortgages --*/

	.chars_5 .h3 {
	    font-size: 14px;
	}

	.chars_5 p {
	    font-size: 14px;
	}

	.chars_6_title h3 {
	    font-size: 13.5px;
	}

	.chars_6 h3 {
	    font-size: 13.5px;
	}

	.chars_6 p {
	    font-size: 13.5px;
	}

	/*-- /Refinancing Military Mortgages --*/

	/*-- Additional Discount --*/

	.discount_wrapp {
		display: block;
	    margin: 10px 0 2px 0;
	}

	.discount_wrapp > .cell-1 {
		display: block;
	    width: 100%;
	    margin: 10px 0;
	}

	.discount_wrapp > .cell-2 {
		display: block;
	    width: 100%;
	    margin: 10px 0;
	}

	.discount_wrapp > .cell-1 .percent {
		margin: 0 auto;
	}

	.discount_wrapp .two-cols_info .cell-2 {
		text-align: left;
	}

	.discount_wrapp .two-cols_info {
		padding-bottom: 10px;
	}

	/*-- /Additional Discount --*/

}

@media only screen and (max-width: 1124px) {

	/*-- Terms --*/

	.two-cols-templ_2 .left {
	    width: 100%;
	    float: none;
	    padding-right: 0;
	}

	.two-cols-templ_2 .right {
	    width: 100%;
	    float: none;
	    padding-left: 0;
	}

	/*-- /Terms --*/

	/*-- Standarts --*/

	.contacts_2 {
	    width: 33.33%;
	}

	/*-- /Standarts --*/

	/*-- Categori NIS --*/

	.chars_4_wrapp .left {
	    width: 50% !important;
	}

	.chars_4_wrapp .right {
	    width: 50% !important;
	}

	/*-- /Categori NIS --*/

}

@media only screen and (max-width: 1024px) {

	/*-- Banks Page --*/

	.thumb_2 {
	    width: calc(50% - 18px);
	}

	.two-cols-templ_1 .two-col-1 {
	    width: 100%;
	    float: none;
	    margin: 10px 0;
	    padding-right: 0;
	}

	.two-cols-templ_1 .two-col-2 {
	    width: 100%;
	    float: none;
	    margin: 10px 0;
	    padding-left: 0;
	}

	/*-- /Banks Page --*/

	/*-- Additional Discount --*/

	.discount_wrapp .two-cols_info .cell-1,
	.discount_wrapp .two-cols_info .cell-2 {
	    display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	/*-- /Additional Discount --*/

	/*-- Search --*/

	.navbar-content {
	    float: none;
	    width: 100%;
	}

	.search-form_wrapp {
	    display: none;
	}

	/*-- /Search --*/

}

@media only screen and (max-width: 900px) {

	/*-- Tab 1 Object Page --*/

	.tab-link {
		font-size: 23px;
		line-height: 29px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.thumbnails_3 .thumb_3 {
	    width: 33.33%;
	}

	/*-- /Banks Page --*/

	/*-- Footer --*/

	.footer .inner-col {
	    width: 49%;
	    padding: 10px 20px 10px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 767px) {

	.tab-novisible {
		display: none !important;
	}

	.tab-visible {
		display: block !important;
	}

	/*-- Tab 1 Object Page --*/

	.slider-1_wrapp {
	    margin: 10px 0;
	    padding: 10px;
	}

	.slider-1 .img-box {
	    height: 500px;
	}

	.tab-link {
	    font-size: 22px;
	    line-height: 23px;
	}

	.chars .table-cell:nth-child(1) {
	    width: 44%;
	}

	.chars .table-cell:nth-child(2) {
	    width: 56%;
	}

	.prices_table .table-cell-1 {
	    width: 30%;
	}

	.prices_table .table-cell-2 {
	    width: 30%;
	}

	.prices_table .table-cell-3 {
	    width: 40%;
	}

	.prices_table .table-cell-4 {
	    display: none;
	}

	.plan_slider .img-box {
	    height: 300px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.form_wrapp h3 {
		text-align: center;
	    font-size: 22px;
	}

	.form_wrapp {
	    padding: 27px 20px;
	}

	.tree-cols .col {
	    width: 100%;
	}

	.thumb_2 {
	    padding: 2px 0 16px 0;
	}

	.mortgages-header .cell-1 {
	    width: 38%;
	}

	.mortgages-header .cell-2 {
	    width: 19%;
	}

	.mortgages-header .cell-3 {
	    width: 19%;
	}

	.mortgages-header .cell-4 {
	    width: 24%;
	}

	.mortgages-header .cell-5 {
	    display: none;
	}

	.bank-header .cell-1 {
	    width: 38%;
	}

	.bank-header .cell-2 {
	    width: 19%;
	}

	.bank-header .cell-3 {
	    width: 19%;
	}

	.bank-header .cell-4 {
	    width: 24%;
	}

	.bank-header .cell-5 {
	    display: none;
	}

	.bank-inner-table .cell-1 {
	    width: 33.33%;
	}

	.bank-inner-table .cell-2 {
	    width: 33.33%;
	}

	.bank-inner-table .cell-3 {
	    width: 33.33%;
	}

	.bank-inner-table .cell-4 {
		display: none;
	}

	.bank-inner-table p {
	    font-size: 14px;
	    line-height: 14px;
	}

	.sliding-bl_inner {
	    padding-right: 0;
	}

	.mortgages-header {
	    padding: 24px 40px 30px 0;
	}

	.bank-header {
	    padding: 0 40px 0 0;
	}

	.two-cols-inner .col {
	    width: 100%;
	}

	.two-cols-inner .col .btn-secondary {
		width: 100%;
		white-space: normal;
	}

	/*-- /Banks Page --*/

	/*-- Terms --*/

	.slide_box {
	    padding: 40px 10%;
	}

	.slide_box .img-box {
	    height: 350px;
	}

	/*-- /Terms --*/

	/*-- Vizout Credit --*/

	.two-cols_4 > .left {
	    float: none !important;
	    width: 100% !important;
	    padding: 0 !important;
	}

	.two-cols_4 > .right {
	    float: none !important;
	    width: 100% !important;
	    padding: 0 !important;
	}

	/*-- /Vizout Credit --*/

	/*-- Video --*/

	.video_2 {
	    height: 470px;
	}

	.video_2 iframe {
	    height: 470px;
	}

	/*-- /Video --*/

	/*-- Bank --*/

	.thumb-8 .cell-1 {
	    width: 74px;
	}

	.chars_2 .table-cell {
		width: 20% !important;
	}

	/*-- /Bank --*/

	/*-- Standarts --*/

	.contacts_2 {
	    width: 50%;
	}

	/*-- /Standarts --*/

	/*-- Tab 2  2 --*/

	.objects-slider .owl-nav {
		display: block;
	}

	.objects-slider_inner {
	    padding: 20px 3%;
	}

	.objects-slider .owl-nav .owl-prev {
		margin: -4px 0 0 1%;
		top: 100%;
		left: 0;
	}

	.objects-slider .owl-nav .owl-next {
		margin: -4px 1% 0 0;
		top: 100%;
		right: 0;
	}

	/*-- /Tab 2  2 --*/

	/*-- Button Form Gk --*/

	.thumb-9 {
	    width: 100%;
	}

	.two-cols_info {
		display: block;
	}

	.two-cols_info .cell-1,
	.two-cols_info .cell-2 {
	    display: block;
	    width: 100%;
	    padding: 5px 0;
	}

	/*-- /Button Form Gk --*/

	/*-- Approval --*/

	.two-cols_5 > .left {
	    width: 100% !important;
	    padding: 10px 0 0 0 !important;
	}

	.two-cols_5 > .right {
	    width: 100% !important;
	    padding: 0 0 10px 0 !important;
	}

	/*-- /Approval --*/

	/*-- Apartment Purchase --*/

	.scheme-title {
		display: none;
	}

	.scheme > .scheme-col:nth-child(odd) {
		width: 100%;
	    float: none;
	    padding: 5px 0;
	}

	.scheme > .scheme-col:nth-child(even) {
		width: 100%;
	    float: none;
	    padding: 5px 0;
	}

	.two-cols-templ_4_2 {
	    margin-bottom: 5px;
	}

	.two-cols-templ_4_2 .right {
		text-align: left;
	}

	.scheme-box {
		min-height: auto;
	}

	.call-two-cols {
		display: block;
	}

	.call-two-cols .cell-1 {
		display: none;
	}

	.call-two-cols .cell-2 {
		display: block;
		padding: 0;
	}

	/*-- /Apartment Purchase --*/

	/*-- Refinancing Military Mortgages --*/

	.chars_5 .table-row .cell:nth-child(1) {
	    display: none;
	}

	.chars_5 .cell:nth-child(3) {
	    display: none;
	}

	.chars_5 .cell:nth-child(4) {
	    display: none;
	}

	.chars_5 .cell:nth-child(2) {
	    width: 16%;
	}

	.chars_5 .cell:nth-child(5) {
	    width: 15%;
	}

	.chars_5 .cell:nth-child(6) {
	    width: 15%;
	}

	.chars_5 .cell:nth-child(7) {
	    width: 16%;
	}

	.chars_5 .cell:nth-child(8) {
	    width: 21%;
	}

	.chars_5 .cell:nth-child(9) {
	    width: 17%;
	}

	/*-- /Refinancing Military Mortgages --*/

	/*-- Footer --*/

	.footer .left {
	    width: 100%;
	    float: none;
	    padding: 10px 0;
	}

	.footer .right {
	    width: 100%;
	    float: none;
	    padding: 20px 0;
	    text-align: center;
	}

	.footer .inner-col {
	    width: 49%;
	    text-align: left;
	    padding: 10px 20px 10px 0;
	}

	.footer-article .cell:nth-child(1) {
	    width: 60px;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 700px) {

	/*-- Banks Page --*/

	.thumbnails_3 .thumb_3 {
	    width: 50%;
	}

	/*-- /Banks Page --*/

	/*-- Section 1 - Card 2 --*/

	.header-2 {
		display: block;
		padding: 0 0 20px 0;
	}

	.header-2 .header-col {
	    display: block !important;
	    margin: 10px 0;
	}

	.header-2 .header-col:nth-child(2) {
	    text-align: left;
	}

	.orange-box > .left {
	    width: 100%;
	    float: none;
	    border-right: none;
	    padding: 0;
	}

	.orange-box > .right {
	    width: 100%;
	    float: none;
	    border-right: none;
	    padding: 0;
	}

	.tabs_2 .tab-link {
	    font-size: 18px;
	}

	.two-cols_6 {
		display: block;
	}

	.two-cols_6 > .two-col:nth-child(1) {
		display: block;
	    width: 100%;
	    padding: 0 0 10px 0;
	    border-right: none;
	}

	.two-cols_6 > .two-col:nth-child(2) {
		display: block;
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- /Section 1 - Card 2 --*/

	/*-- Footer --*/

	.footer-article {
		display: block;
	}

	.footer-article .cell:nth-child(1) {
		display: block;
		padding: 5px 0;
	    width: 100%;
	}

	.footer-article .cell:nth-child(2) {
		display: block;
		padding: 5px 0;
	    width: 100%;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 650px) {

	/*-- Refinancing Military Mortgages --*/

	.chars_6_wrapp {
	    display: none;
	}

	/*-- /Refinancing Military Mortgages --*/

}

@media only screen and (max-width: 600px) {

	/*-- Video --*/

	.video_2 {
	    height: 360px;
	}

	.video_2 iframe {
	    height: 360px;
	}

	/*-- /Video --*/

	/*-- Standarts --*/

	.contacts_2_wrapp {
		margin: 15px 0;
	}

	.contacts_2 {
	    width: 100%;
	    padding: 0;
	}

	/*-- /Standarts --*/

	/*-- Categori NIS --*/

	.chars_3 .cell-1 {
	    padding: 7px 10px 7px 0;
	}

	.chars_3 .cell-2 {
	    padding: 7px 0 7px 10px;
	}

	.chars_3 p {  
	    font-size: 12px;
	    line-height: 18px;
	}

	.chars_4_wrapp .right {
	    padding-left: 10px !important;
	}

	.chars_4 .cell {
	    padding: 7px 10px 7px 0;
	}

	.chars_4_wrapp p {
	    font-size: 12px;
	    line-height: 18px;
	}

	.chars_4_wrapp .grey_box {
		display: none;
	}

	/*-- /Categori NIS --*/

	/*-- Apartment Purchase --*/

	.schemes-inner .scheme-box {
		min-height: 92px;
	}

	.scheme-box.scheme-box_title {
		min-height: auto;
	}

	.scheme-box.scheme-box_title_2 {
		min-height: auto;
	}

	.scheme ul li {
		margin: 6px 0;
	}

	/*-- /Apartment Purchase --*/
	

}

@media only screen and (max-width: 480px) {

	/*-- Refinancing Military Mortgages --*/

	.h1_2 {
		font-size: 32px;
	}

	.formula_wrapp {
	    padding: 2px 2%;
	}

	.formula .col:nth-child(1) {
	    width: 87px;
	}

	.formula p {
	    font-size: 13px;
	    line-height: 15px;
	    font-weight: 600;
	}

	/*-- /Refinancing Military Mortgages --*/

	/*-- Tab 1 Object Page --*/

	.slider-1 .img-box {
	    height: 400px;
	}

	.tabs-content {
	    margin: 0;
	}

	.table-cell h3 {
	    font-size: 15px;
	    line-height: 18px;
	}

	.table-cell p {
	    font-size: 15px;
	    line-height: 18px;
	}

	.table-cell a {
	    font-size: 15px;
	    line-height: 18px;
	}

	.two-cols_2 p {
	    font-size: 16px;
	    line-height: 21px;
	}

	.two-cols_2 > .left {
	    width: 100% !important;
	    float: none;
	    padding: 10px 0;
	}

	.two-cols_2 > .right {
	    width: 100% !important;
	    float: none;
	    padding: 10px 0;
	}

	.dropdown_title p {
	    font-size: 18px;
	    line-height: 23px;
	}

	.plan_slider .img-box {
	    height: 235px;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.thumbnails_2 {
	    margin: 14px 0;
	}

	.thumb_2 {
	    width: 100%;
	    margin: 9px 0;
	    padding: 2px 10px 4px 10px;
	}

	.thumb_2 .img-box {
	    height: 99px;
	}

	.mortgages-header {
	    padding: 21px 40px 14px 0;
	}

	.mortgages-header div.h5 {
	    font-size: 15px;
	}

	.bank-header p {
	    font-size: 15px;
	    line-height: 20px;
	}

	.thumbnails_3 {
	    margin: 8px 0 0 0;
	}

	.thumbnails_3 .thumb_3 {
	    width: 100%;
	}

	.bank-inner-table .cell-1 {
	    width: 60%;
	}

	.bank-inner-table .cell-2 {
	    width: 40%;
	}

	.bank-inner-table .cell-3 {
		display: none;
	}

	.mortgage-block .sliding-block {
	    padding: 3px 8px 8px 8px;
	}

	/*-- /Banks Page --*/

	/*-- Certificate --*/

	.info-box_2 {
	    margin: 5px 0;
	    padding: 31px 3% 30px 3%;
	}

	.two-cols_3 {
		display: block;
	}

	.two-cols_3 .col-1 {
		display: block;
	    width: 100%;
	    max-width: 100%;
	    padding: 5px 0;
	}

	.two-cols_3 .col-2 {
		display: block;
	    width: 100%;
	    max-width: 100%;
	    padding: 5px 0;
	}

	/*-- /Certificate --*/

	/*-- NIS --*/

	.info-box_3 {
	    padding: 8px 4% 12px 54px;
	    background-position: 11px 36px;
	}

	/*-- /NIS --*/

	/*-- Vizout Credit --*/

	.variant-item {
	    display: block;
	    padding: 20px 0 0 0;
	}

	.variant-item .cell-1 {
	    display: block;
	    margin: 0 auto;
	}

	.variant-item .cell-2 {
		display: block;
	    padding: 10px 0;
	    text-align: center;
	}

	/*-- /Vizout Credit --*/

	/*-- Video --*/

	.video_2 {
	    height: 280px;
	}

	.video_2 iframe {
	    height: 280px;
	}

	/*-- /Video --*/

	/*-- Dom RF --*/

	.thumbnails_2_2 .thumb_2 {
	    width: 100%;
	}

	/*-- /Dom RF --*/

	/*-- Apartment Purchase --*/

	.green-pill_3 {
	    min-width: 100%;
	}

	/*-- /Apartment Purchase --*/

	/*-- Section 1 - Card 2 --*/

	.header-2 .header-col:nth-child(2) {
	    text-align: center;
	}

	.two-cols_7 {
		display: block;
	}

	.two-cols_7 > .two-col {
		display: block;
	    width: 100%;
	    padding: 10px 0;
	}

	.two-cols_7 img {
		margin: 0 auto;
	}

	/*-- /Section 1 - Card 2 --*/

	/*-- Footer --*/

	.seo-text_2 li a {
	    font-size: 16px;
	    line-height: 18px;
	}

	.footer .inner-col h3 {
		margin: 12px 0 3px 0;
	    font-size: 16px;
	    line-height: 24px;
	}

	.seo-text li a {
	    font-size: 16px;
	    line-height: 18px;
	}

	/*-- /Footer --*/
	
}

@media only screen and (max-width: 450px) {

	/*-- Bank --*/

	.thumb-8 h5 {
	    font-size: 21px;
	}

	.table-cell h3 {
	    font-size: 15px;
	    line-height: 18px;
	}

	.table-cell .h3 {
	    font-size: 15px;
	    line-height: 18px;
	}

	/*-- /Bank --*/

	/*-- Footer --*/

	.footer .inner-col {
	    width: 100%;
	    padding: 10px 0;
	}

	/*-- /Footer --*/

}

@media only screen and (max-width: 370px) {

	/*-- Tab 1 Object Page --*/

	.table-cell p {
	    font-size: 12px;
	    line-height: 15px;
	    font-weight: 600;
	}

	/*-- /Tab 1 Object Page --*/

	/*-- Banks Page --*/

	.bank-header .cell-1 {
	    width: 30%;
	    padding-right: 5px;
	}

	.bank-header .cell-2 {
		width: 17%;
	}

	.bank-header .cell-3 {
		width: 20%;
	}

	.bank-header .cell-4 {
		width: 23%;
	}

	.mortgages-header .cell-1 {
	    width: 30%;
	    padding-right: 5px;
	}

	.mortgages-header .cell-2 {
	    width: 17%;
	}

	.mortgages-header .cell-3 {
	    width: 20%;
	}

	.mortgages-header .cell-4 {
	    width: 23%;
	}


	.bank-header p {
	    font-size: 12px;
	}

	.mortgages-header div.h5 {
	    font-size: 13px;
	}

	/*-- /Banks Page --*/

	/*-- Bank --*/

	.table-cell h3 {
		font-size: 11.5px;
		line-height: 14px;
	}

	/*-- /Bank --*/

	/*-- Search --*/

	.search-result_header {
	    margin: 0;
	}

	.search-result_header .search-col {
		display: block;
	    margin: 10px 0;
	}

	.search-result_header .input_wrapp_blue {
	    width: 100%;
	}

	.search-result_header .dropdown-custom_2 {
	    width: 100% !important;
	}

	.search-result_header .date_input_wrapp {
	    width: 125px;
	}

	.search-result_header .blue-pill {
	    min-width: 100%;
	}

	/*-- /Search --*/
	
}

@media (max-width: 768px) {

	.nav-link-pickup > span:last-child {
	    display: block  !important;
	}

}

@media (max-width: 991px) and (min-width: 850px) {
	.nav-link-pickup > span:last-child {
		display: block !important;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding: 0 25px !important;
		font-size: 13px  !important;
		font-weight: bold;
	}
}

@media (max-width: 849px) and (min-width: 768px) {
	.nav-link-pickup > span:last-child {
		display: block !important;
	}

	.navbar-expand-md .navbar-nav .nav-link {
		padding: 0 17px !important;
		font-size: 11px  !important;
		font-weight: bold;
	}
}