@import "mixins";
@import "functions";

//-- Service Block
//------------------------------------------------------

.row-services {
  @include respond-to(desktopXlgMin) {
    > * {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.service {
  display: block;
  margin-bottom: $space-between-elements;

  &-image-content {
    @extend %bg-image-center;
    height: 100%;
  }

  &-text {
    @extend %last-child;

    > * {
      margin-bottom: 7px;
    }
  }

  &-title {
    color: $service-title-color;
    line-height: 1;
    text-transform: uppercase;
  }

  //Responsive styles

  @include respond-to(mobile) {
    &-title {
      font-size: $service-title-mobile-size;
    }
  }

  @include respond-to(desktop) {
    @include display-flex();
    flex-wrap: wrap;
    margin: {
      left: -$service-space;
      right: -$service-space;
    }

    &-image, &-text {
      padding: 0 $service-space;
    }

    &-image {
      @include h-w(370px, 370px);
    }

    &-text {
      width: calc(100% - 370px - (#{$service-space} * 2));
    }
  }

  @include respond-to(mobile) {
    margin-bottom: 30px;

    &-image {
      margin-bottom: 10px;
    }

    &-image-content {
      height: $service-image-height-mobile;
    }
  }
}